{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div style="display:flex;justify-content:center;align-items:center;flex-direction: column;margin:100px 0px">
    <div class="newproclass">
        <h2>New Project</h2>
        <form method="post" enctype="multipart/form-data" class="loginform">
            {% csrf_token %}
            {{form.as_p}}
            <div style="display: flex; justify-content: center;">
                <button class="btn btn-info ml-2" type="submit">Submit Project</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}